/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* CSS */

.penuh {
    position: relative;
	z-index: 1;
    width: 500px;
	height: 888px;
	margin: auto;
}
.bg img{
    position: absolute;
	z-index: 2;
    width: 100%;
	/* height: 888px; */
	margin: auto;
}
.burem {
    margin: auto;
    background-color: #00000010;   
    margin: 2rem;
    border-radius: 20px;
    padding: 1rem;
    position: absolute;
    box-shadow: 0 10px 15px rgb(0 0 0 / 20%);
    box-sizing: border-box;
	height: 154px;
	width: 412px;
    color: rgba(0,0,0,0.8);
    backdrop-filter: blur(10px);
    background-blend-mode: overlay;
    display: flex;
    align-items: center;
}
.burem p {
	position: absolute;
	z-index: 3;
	font-family: sans-serif;
	filter: blur(0.6px);
	font-kerning: none;
}
.ava {
	position: absolute;
	z-index: 3;
	width: 87px;
	margin-top: 30px;
	margin-left: 7px;
}
.apk {
	margin-bottom: 100px;
	color: #494949;
	font-size: 15px;
}
.datem {
	margin-bottom: 100px;
	margin-left: 320px;
	color: #494949;
}
.nama {
	color: #000000;
	font-weight: bold;
	margin-bottom: 1px;
	margin-left: 115px;
	font-size: 20px;
}
.pesan {
	color: #000000;
	margin-top: 55px;
	margin-left: 115px;
}
.bub1 {
	position: absolute;
	z-index: 3;
	margin-top: 243px;
	margin-left: 44px;
	-webkit-animation-name: bubone;
	-webkit-animation-duration: 5s;
}
@-webkit-keyframes bubone{
	0% {
		opacity: 0;
		filter: blur(3px);
		top: 800px;
	}
	60% {
		opacity: 0;
		filter: blur(3px);
		top: 800px;
	}
	100% {
		opacity: 1;
		filter: blur(0);
		top: 0px;
	}
}
.bub2 {
	margin-top: 418px;
	margin-left: 44px;
	position: absolute;
	z-index: 3;
	-webkit-animation-name: bubtwo;
	-webkit-animation-duration: 6s;
}
@-webkit-keyframes bubtwo{
	0% {
		opacity: 0;
		filter: blur(3px);
		top: 600px;

	}
	65% {
		opacity: 0;
		filter: blur(3px);
		top: 600px;

	}
	100% {
		opacity: 1;
		filter: blur(0);
		top: 0px;
	}
}
.bub3 {
	margin-top: 593px;
	margin-left: 44px;
	position: absolute;
	z-index: 3;
	-webkit-animation-name: bubthree;
	-webkit-animation-duration: 7s;
}
@-webkit-keyframes bubthree{
	0% {
		opacity: 0;
		filter: blur(3px);
		top: 500px;

	}
	66% {
		opacity: 0;
		filter: blur(3px);
		top: 500px;

	}
	100% {
		opacity: 1;
		filter: blur(0);
		top: 0px;
	}
}
.bub4 {
	margin-top: 768px;
	margin-left: 44px;
	position: absolute;
	z-index: 3;
	-webkit-animation-name: bubfour;
	-webkit-animation-duration: 8s;
}
@-webkit-keyframes bubfour{
	0% {
		opacity: 0;
		filter: blur(3px);
		top: 300px;

	}
	65% {
		opacity: 0;
		filter: blur(3px);
		top: 300px;

	}
	100% {
		opacity: 1;
		filter: blur(0);
		top: 0px;
	}
}
.bub5 {
	margin-top: 943px;
	margin-left: 44px;
	position: absolute;
	z-index: 3;
	-webkit-animation-name: bubfive;
	-webkit-animation-duration: 8s;
}
@-webkit-keyframes bubfive{
	0% {
		opacity: 0;
		filter: blur(3px);
		top: 100px;

	}
	75% {
		opacity: 0;
		filter: blur(3px);
		top: 100px;

	}
	100% {
		opacity: 1;
		filter: blur(0);
		top: 0px;
	}
}
a {
	text-decoration: none;
	color: #202020;
}
a:hover {
	color: #696969;
}
img {
	pointer-events: none;
}
.kaki {
	position: absolute;
	z-index: 3;
	width: 500px;
	height: 10px;
	margin: auto;
	margin-top: 1135px;
}
.textkaki {
	margin: auto;
	text-align: center;
	color: #202020;
	font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    filter: blur(0.5px);
}
.textkakia {
	color: #202020;
	font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}
.jam {
	width: 100%;
	margin: auto;
	position: absolute;
	z-index: 3;
	font-family: sans-serif;
	filter: blur(0.6px);
	font-kerning: none;
	color: #202020;
}
.pukul {
	font-size: 115px;
	text-align: center;
	margin-top: 40px;
}
.tanggal {
	font-size: 24px;
	text-align: center;
	margin-top: 1px;
}
.hari {
	font-size: 23px;
	margin-top: 30px;
	margin-left: 44px;
	-webkit-animation-name: today;
	-webkit-animation-duration: 5s;
}
@-webkit-keyframes today{
	0% {
		opacity: 0;
		filter: blur(3px);
		top: 800px;
	}
	59% {
		opacity: 0;
		filter: blur(3px);
		top: 800px;
	}
	100% {
		opacity: 1;
		filter: blur(0);
		top: 0px;
	}
}
